<p id="notice"><%= notice %></p>

<p>
  <strong>Smart phone name:</strong>
  <%= @myfavorite.smart_phone_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @myfavorite.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @myfavorite.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @myfavorite.color %>
</p>

<%= link_to 'Edit', edit_myfavorite_path(@myfavorite) %> |
<%= link_to 'Back', myfavorites_path %>
