<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group" style="width: 40%;">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group" style="width: 40%;">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group" style="width: 40%;">
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, class: "form-control" %>
  </div>
  <div class="form-group" style="width: 40%;">
    <%= form.label :color, style: "display: block" %>
    <%= form.text_field :color, class: "form-control" %>
  </div>
  <div class="form-group" style="width: 40%;">
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity, class: "form-control" %>
  </div>
  <div class="form-group" style="width: 40%;">
    <%= form.label :producer_name, style: "display: block" %>
    <%= form.text_field :producer_name, class: "form-control" %>
  </div>

  <div class="form-group mt-3 actions">
    <%= form.submit 'New Smart Phone', :class => "btn btn-primary"  %>
  </div>
<% end %>
