<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @book.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @book.color %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @book.quantity %>
</p>

<p>
  <strong>Id Producer:</strong>
  <%= @book.id_producer %>
</p>

<!-- <p>
   <% if @book.image.attached? %>
     <%= image_tag @book.image %>
   <% end %>
 </p> -->

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<%= form_with(model: @book_review) do |form| %>
  <h2>Review Form</h2>
  <div>
    <%= form.label :review, style: "display: block" %>
    <%= form.text_area :review %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.hidden_field :book_id, :value => @book.id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<h2>Review list</h2>
  <ul>
    <% @book.book_review.each do |book_review| %>
      <li><%= book_review.review %> (<i><%= book_review.user.name %></i>)</li>
    <% end %>
  </ul>