<div class="container-fluid d-flex flex-column gap-2">
  <div>
    <p id="notice" style="color: green"><%= notice %></p>
  </div>
  
  <div class="d-flex gap-2">
    <div id="<%= dom_id @book %>">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Smart Phone Name:</h5>
            <p class="card-text"><%= @book.name ? @book.name : "No name" %></p>
            <h5 class="card-title">Description:</h5>
            <p class="card-text"><%= @book.description ? @book.description : "No description" %></p>
            <h5 class="card-title">Price:</h5>
            <p class="card-text"> <%= @book.price ? @book.price : "No price" %></p>
            <h5 class="card-title">Color:</h5>
            <p class="card-text"> <%= @book.color ? @book.color : "No color" %></p>
            <h5 class="card-title">Quantity:</h5>
            <p class="card-text"> <%= @book.quantity ? @book.quantity : "No quantity" %></p>
            <h5 class="card-title">Producer Name:</h5>
            <p class="card-text"> <%= @book.producer_name ? @book.producer_name : "No producer name" %></p>
        </div>
      </div>
    </div>
    <div>
        <div style = "width: 500px ;">
            <%= link_to "Edit this smart phone", edit_book_path(@book), class: "btn btn-primary" , :style => "width: 200px ; margin-top: 30px;" %> 
        </div>
        <div>
            <%= link_to "Back to Smart Phones", books_path, class: "btn btn-primary", :style => "width: 200px ; margin-top: 50px;" %>
        </div>
        
        <div>
            <%= button_to "Destroy this book", @book, method: :delete, class: "btn btn-danger mt-5", :style => "width: 200px ;" %>
        </div>
      
    </div>
    
  </div>
</div>