<p style="color: green"><%= notice %></p>

<h1 style="text-align: center;">Producers</h1>

<div id="producers">
  <div class="container mh-100 mw-100 d-flex justify-content-center align-items-center">
    <% @producers.each do |producer| %>
        
        <div id="<%= dom_id producer %>">
      <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Producer name:</h5>
      <p class="card-text"><%= producer.name ? producer.name : "No name" %></p>
      <h5 class="card-title">Email:</h5>
      <p class="card-text"><%= producer.email ? producer.email : "0" %></p>
      <h5 class="card-title">Address:</h5>
      <p class="card-text"> <%= producer.address ? producer.address : "No address" %></p>
      <h5 class="card-title">Phone number:</h5>
      <p class="card-text"> <%= producer.phone ? producer.phone : "No phone" %></p>
      <%= link_to "Show this producer", producer, class: "btn btn-primary" %>
    </div>
  </div>
</div>
        
    <% end %>
  </div>
</div>
<div style="text-align: center;" class="mt-5">
  <%= link_to "New producer", new_producer_path, class: "btn btn-primary" %>
